/* ===== RESPONSIVE DESIGN ===== */

/* Tablets */
@media (max-width: 900px) {

    .filters-section {
        grid-template-columns: 1fr 1fr;
    }

    #searchBtn {
        grid-column: span 2;
        padding: 0.7rem;
    }

    .stats-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {

    .header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-top: 0.5rem;
    }

    .filters-section {
        grid-template-columns: 1fr;
    }

    .stats-section {
        grid-template-columns: 1fr;
    }

    .jobs-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 900px) {
    .charts-section {
        grid-template-columns: 1fr;
    }
}